body{
  background-color: rgb(120,45,199);
  font-family: 'Lemon/Milk light', sans-serif;
}

h1{
  text-align: center;
  color:white;
  font-family: 'Lemon/Milk', sans-serif;
  text-transform: uppercase;
  padding: 25px;
}

p{
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: monospace;
  padding: 25px;
}

.logo{
  color:black;
  font-size: 35px;
  letter-spacing: 1px;
  cursor:pointer;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
 nav ul li a{
  color:white;
  text-shadow: 1px #0ff;
  font-weight: bold;
  text-transform: uppercase;
 }

 nav ul li a:hover{
  color:aqua;
  text-shadow: 1px #FFFFFF;
  transition: .4s;
 }

 .content{
  position: absolute;
  top: 50%;
  left: 8%;
 }